{
    "swagger": "2.0",
    "info": {
        "title": "Roguelike API",
        "description": "Api documentation for roguelike game.",
        "termsOfService": "",
        "version": "1.0.0"
    },
    "host": "rogueapi.keisenb.io",
    "basePath": "/api",
    "schemes": [
        "https"
    ],
    "paths": {
        "/armors": {
            "get": {
                "tags": [
                    "Armors"
                ],
                "summary": "lists all armors",
                "responses": {
                    "200": {
                        "description": "A list with armors",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Armor"
                            }
                        }
                    },
                    "404": {
                        "description": "no armors in table, or an error."
                    }
                }
            }
        },
        "/armors/{id}": {
            "get": {
                "tags": [
                    "Armors"
                ],
                "summary": "list armor by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A armor object",
                        "schema": {
                            "$ref": "#/definitions/Armor"
                        }
                    },
                    "404": {
                        "description": "no armor w/ id found in table, or an error."
                    }
                }
            }
        },
        "/test": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Test Auth method",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns Hello World if token is correct.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Authenticates a User",
                "parameters": [
                    {
                        "name": "email",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "email": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    {
                        "name": "password",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "password": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A bearer token to authenticate with.",
                        "schema": {
                            "$ref": "#/definitions/LoginResponse"
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/logout": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logs a User out.",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns string status of logout attempt.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/classes": {
            "get": {
                "tags": [
                    "Classes"
                ],
                "summary": "lists all classes",
                "responses": {
                    "200": {
                        "description": "A list with character classes",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CharacterClass"
                            }
                        }
                    },
                    "404": {
                        "description": "no classes in table, or an error."
                    }
                }
            }
        },
        "/classes/{id}": {
            "get": {
                "tags": [
                    "Classes"
                ],
                "summary": "list character class by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A character class object",
                        "schema": {
                            "$ref": "#/definitions/CharacterClass"
                        }
                    },
                    "404": {
                        "description": "no class w/ id found in table, or an error."
                    }
                }
            }
        },
        "/characters/history": {
            "get": {
                "tags": [
                    "Character History"
                ],
                "summary": "lists all character histories",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list with character histories",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CharacterHistory"
                            }
                        }
                    },
                    "404": {
                        "description": "no character histories in table, or an error."
                    }
                }
            }
        },
        "/characters/history/{id}": {
            "get": {
                "tags": [
                    "Character History"
                ],
                "summary": "list character history by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A character history object",
                        "schema": {
                            "$ref": "#/definitions/CharacterHistory"
                        }
                    },
                    "404": {
                        "description": "no character history w/ id found in table, or an error."
                    }
                }
            }
        },
        "/levels": {
            "get": {
                "tags": [
                    "Levels"
                ],
                "summary": "lists all levels",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list with levels",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Level"
                            }
                        }
                    },
                    "404": {
                        "description": "no levels in table, or an error."
                    }
                }
            }
        },
        "/levels/{id}": {
            "get": {
                "tags": [
                    "Levels"
                ],
                "summary": "returns a level by id",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A level object",
                        "schema": {
                            "$ref": "#/definitions/Level"
                        }
                    },
                    "404": {
                        "description": "no level w/ id found in table, or an error."
                    }
                }
            }
        },
        "/powerups": {
            "get": {
                "tags": [
                    "Power Ups"
                ],
                "summary": "lists all powerups",
                "responses": {
                    "200": {
                        "description": "A list with powerups",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PowerUp"
                            }
                        }
                    },
                    "404": {
                        "description": "no powerups in table, or an error."
                    }
                }
            }
        },
        "/powerups/{id}": {
            "get": {
                "tags": [
                    "Power Ups"
                ],
                "summary": "list powerup by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A powerup object",
                        "schema": {
                            "$ref": "#/definitions/PowerUp"
                        }
                    },
                    "404": {
                        "description": "no powerup w/ id found in table, or an error."
                    }
                }
            }
        },
        "/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Returns authenticated user",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A user object",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "401": {
                        "description": "not authenticated."
                    }
                }
            }
        },
        "/weapons": {
            "get": {
                "tags": [
                    "Weapons"
                ],
                "summary": "lists all weapons",
                "responses": {
                    "200": {
                        "description": "A list with weapons",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Weapon"
                            }
                        }
                    },
                    "404": {
                        "description": "no weapons in table, or an error."
                    }
                }
            }
        },
        "/weapons/{id}": {
            "get": {
                "tags": [
                    "Weapons"
                ],
                "summary": "list weapon by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A weapon object",
                        "schema": {
                            "$ref": "#/definitions/Weapon"
                        }
                    },
                    "404": {
                        "description": "no weapon w/ id found in table, or an error."
                    }
                }
            }
        }
    },
    "definitions": {
        "PowerUp": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "Armor": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        },
                        "defense_value": {
                            "type": "integer"
                        },
                        "strong_type": {
                            "type": "integer"
                        },
                        "weak_type": {
                            "type": "integer"
                        }
                    }
                }
            ]
        },
        "CharacterClass": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        },
                        "starting_health": {
                            "type": "integer"
                        },
                        "starting_attack_bonus": {
                            "type": "integer"
                        },
                        "starting_damage_bonus": {
                            "type": "integer"
                        },
                        "starting_defense_bonus": {
                            "type": "integer"
                        },
                        "starting_armor": {
                            "type": "integer"
                        },
                        "starting_weapon": {
                            "type": "integer"
                        },
                        "options": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "Weapon": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        },
                        "attack_type": {
                            "type": "integer"
                        },
                        "max_damage": {
                            "type": "integer"
                        },
                        "min_damage": {
                            "type": "integer"
                        },
                        "damage_type": {
                            "type": "integer"
                        },
                        "range": {
                            "type": "integer"
                        },
                        "hit_bonus": {
                            "type": "integer"
                        },
                        "attack_effect": {
                            "type": "string"
                        },
                        "properties": {
                            "type": "string"
                        },
                        "properties_short": {
                            "type": "string"
                        },
                        "sprite_id": {
                            "type": "integer"
                        }
                    }
                }
            ]
        },
        "LoginResponse": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "token": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "User": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "email": {
                            "type": "string"
                        },
                        "display_name": {
                            "type": "string"
                        },
                        "created_at": {
                            "type": "string"
                        },
                        "updated_at": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "CharacterHistory": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "user_id": {
                            "type": "integer"
                        },
                        "character_id": {
                            "type": "integer"
                        },
                        "score": {
                            "type": "integer"
                        },
                        "level_id": {
                            "type": "integer"
                        },
                        "created_at": {
                            "type": "string"
                        },
                        "updated_at": {
                            "type": "string"
                        },
                        "character": {
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "starting_health": {
                                    "type": "integer"
                                },
                                "starting_attack_bonus": {
                                    "type": "integer"
                                },
                                "starting_damage_bonus": {
                                    "type": "integer"
                                },
                                "starting_defense_bonus": {
                                    "type": "integer"
                                },
                                "starting_weapon": {
                                    "type": "integer"
                                },
                                "starting_armor": {
                                    "type": "integer"
                                },
                                "options": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "level": {
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "user_id": {
                                    "type": "integer"
                                },
                                "seed": {
                                    "type": "string"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "updated_at": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            ]
        },
        "Level": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "user_id": {
                            "type": "string"
                        },
                        "seed": {
                            "type": "string"
                        },
                        "created_at": {
                            "type": "string"
                        },
                        "updated_at": {
                            "type": "string"
                        }
                    }
                }
            ]
        }
    }
}