{
    "swagger": "2.0",
    "info": {
        "title": "Roguelike API",
        "description": "Api documentation for roguelike game.",
        "termsOfService": "",
        "version": "1.0.0"
    },
    "host": "rogueapi.keisenb.io",
    "basePath": "/api",
    "schemes": [
        "https"
    ],
    "paths": {
        "/armors": {
            "get": {
                "tags": [
                    "Armors"
                ],
                "summary": "lists all armors",
                "responses": {
                    "200": {
                        "description": "A list with armors",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Armor"
                            }
                        }
                    },
                    "404": {
                        "description": "no armors in table, or an error."
                    }
                }
            }
        },
        "/armors/{id}": {
            "get": {
                "tags": [
                    "Armors"
                ],
                "summary": "list armor by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A armor object",
                        "schema": {
                            "$ref": "#/definitions/Armor"
                        }
                    },
                    "404": {
                        "description": "no armor w/ id found in table, or an error."
                    }
                }
            }
        },
        "/test": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Test Auth method",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns Hello World if token is correct.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Authenticates a User",
                "parameters": [
                    {
                        "name": "email",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "email": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    {
                        "name": "password",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "password": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A bearer token to authenticate with.",
                        "schema": {
                            "$ref": "#/definitions/LoginResponse"
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "User not found.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/logout": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logs a User out.",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns string status of logout attempt.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Registers a User",
                "parameters": [
                    {
                        "name": "registration",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "properties": {
                                "email": {
                                    "type": "string"
                                },
                                "display_name": {
                                    "type": "string"
                                },
                                "password": {
                                    "type": "string"
                                },
                                "password_confirmation": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A bearer token to authenticate with.",
                        "schema": {
                            "$ref": "#/definitions/LoginResponse"
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "User already exists (email or display_name conflict).",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/classes": {
            "get": {
                "tags": [
                    "Classes"
                ],
                "summary": "lists all classes",
                "responses": {
                    "200": {
                        "description": "A list with character classes",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CharacterClass"
                            }
                        }
                    },
                    "404": {
                        "description": "no classes in table, or an error."
                    }
                }
            }
        },
        "/classes/{id}": {
            "get": {
                "tags": [
                    "Classes"
                ],
                "summary": "list character class by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A character class object",
                        "schema": {
                            "$ref": "#/definitions/CharacterClass"
                        }
                    },
                    "404": {
                        "description": "no class w/ id found in table, or an error."
                    }
                }
            }
        },
        "/characters": {
            "post": {
                "tags": [
                    "Character"
                ],
                "summary": "Creates a new character.",
                "parameters": [
                    {
                        "name": "character",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PostCharacter"
                        }
                    },
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The created character object.",
                        "schema": {
                            "$ref": "#/definitions/Character"
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity, missing parameter, invalid parameter.",
                        "schema": {
                            "properties": {
                                "parameter_name": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unable to find armor, class, or weapon by id.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/characters/{id}": {
            "get": {
                "tags": [
                    "Character"
                ],
                "summary": "return character by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A character object",
                        "schema": {
                            "$ref": "#/definitions/Character"
                        }
                    },
                    "404": {
                        "description": "no character w/ id found in table, or an error."
                    }
                }
            },
            "put": {
                "tags": [
                    "Character"
                ],
                "summary": "Updates an existing character, all parameters are optional. Pass only what's needed to be updated.",
                "parameters": [
                    {
                        "name": "character",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateCharacter"
                        }
                    },
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The updated character object.",
                        "schema": {
                            "$ref": "#/definitions/Character"
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity, missing parameter, invalid parameter.",
                        "schema": {
                            "properties": {
                                "parameter_name": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unable to find character for killed_by parameter.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/characters/history": {
            "get": {
                "tags": [
                    "Character History"
                ],
                "summary": "lists all character histories",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list with character histories",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/CharacterHistory"
                            }
                        }
                    },
                    "404": {
                        "description": "no character histories in table, or an error."
                    }
                }
            },
            "post": {
                "tags": [
                    "Character History"
                ],
                "summary": "Creates a new character.",
                "parameters": [
                    {
                        "name": "character_history",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PostCharacterHistory"
                        }
                    },
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The created character history object.",
                        "schema": {
                            "$ref": "#/definitions/NewCharacterHistory"
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity, missing parameter, invalid parameter.",
                        "schema": {
                            "properties": {
                                "parameter_name": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unable to find character or level by id.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/characters/history/{id}": {
            "get": {
                "tags": [
                    "Character History"
                ],
                "summary": "list character history by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID",
                        "required": true,
                        "type": "integer"
                    },
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A character history object",
                        "schema": {
                            "$ref": "#/definitions/CharacterHistory"
                        }
                    },
                    "404": {
                        "description": "no character history w/ id found in table, or an error."
                    }
                }
            },
            "put": {
                "tags": [
                    "Character History"
                ],
                "summary": "Updates an existing character history, all parameters are optional. Pass only what's needed to be updated.",
                "parameters": [
                    {
                        "name": "history",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateCharacterHistory"
                        }
                    },
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The updated character history object.",
                        "schema": {
                            "$ref": "#/definitions/NewCharacterHistory"
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity, missing parameter, invalid parameter.",
                        "schema": {
                            "properties": {
                                "parameter_name": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unable to find character history .",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/classitems/{id}": {
            "get": {
                "tags": [
                    "Items"
                ],
                "summary": "Get all allowed items for a class.",
                "parameters": [
                    {
                        "name": "classid",
                        "in": "path",
                        "description": "Class id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list of items",
                        "schema": {
                            "$ref": "#/definitions/classItems"
                        }
                    },
                    "404": {
                        "description": "No class w/ id found in tables, or error."
                    }
                }
            }
        },
        "/itemclass/{id}": {
            "get": {
                "tags": [
                    "Items"
                ],
                "summary": "Get the class of an item.",
                "parameters": [
                    {
                        "name": "itemid",
                        "in": "path",
                        "description": "Item id",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Character class",
                        "schema": {
                            "$ref": "#/definitions/CharacterClass"
                        }
                    },
                    "404": {
                        "description": "No item w/ id found in tables, or error."
                    }
                }
            }
        },
        "/friends": {
            "get": {
                "tags": [
                    "Friends"
                ],
                "summary": "lists all friends for current user",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list with friends",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Friend"
                            }
                        }
                    },
                    "404": {
                        "description": "no friends in table, or an error."
                    }
                }
            },
            "post": {
                "tags": [
                    "Friends"
                ],
                "summary": "Adds a friend by username.",
                "parameters": [
                    {
                        "name": "friend",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddFriend"
                        }
                    },
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Added friend.",
                        "schema": {
                            "$ref": "#/definitions/Friend"
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Already friends with user.",
                        "schema": {
                            "properties": {
                                "parameter_name": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unable to find friend by username",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Friends"
                ],
                "summary": "Deletes a friend by username.",
                "parameters": [
                    {
                        "name": "friend",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/AddFriend"
                        }
                    },
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "successfully deleted friend."
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unable to find friend by username.",
                        "schema": {
                            "properties": {
                                "parameter_name": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Not friends with user with the display name.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/levels": {
            "get": {
                "tags": [
                    "Levels"
                ],
                "summary": "lists all levels",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A list with levels",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Level"
                            }
                        }
                    },
                    "404": {
                        "description": "no levels in table, or an error."
                    }
                }
            },
            "post": {
                "tags": [
                    "Levels"
                ],
                "summary": "Creates a new level.",
                "parameters": [
                    {
                        "name": "level",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/CreateLevel"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The created character object.",
                        "schema": {
                            "$ref": "#/definitions/NewLevel"
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity, missing parameter, invalid parameter.",
                        "schema": {
                            "properties": {
                                "parameter_name": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/levels/{id}": {
            "get": {
                "tags": [
                    "Levels"
                ],
                "summary": "returns a level by id",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A level object",
                        "schema": {
                            "$ref": "#/definitions/Level"
                        }
                    },
                    "404": {
                        "description": "no level w/ id found in table, or an error."
                    }
                }
            }
        },
        "/messages": {
            "get": {
                "tags": [
                    "Messages"
                ],
                "summary": "List messages by user",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A message object",
                        "schema": {
                            "$ref": "#/definitions/Message"
                        }
                    },
                    "404": {
                        "description": "no messages by user found in table, or an error.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Messages"
                ],
                "summary": "Sends a message.",
                "parameters": [
                    {
                        "name": "message",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/NewMessage"
                        }
                    },
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sent message.",
                        "schema": {
                            "$ref": "#/definitions/Message"
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity, missing parameter, invalid parameter.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "unable to find user or friend entities.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/powerups": {
            "get": {
                "tags": [
                    "Power Ups"
                ],
                "summary": "lists all powerups",
                "responses": {
                    "200": {
                        "description": "A list with powerups",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/PowerUp"
                            }
                        }
                    },
                    "404": {
                        "description": "no powerups in table, or an error."
                    }
                }
            },
            "post": {
                "tags": [
                    "Power Ups"
                ],
                "summary": "Creates a PickedUpPowerUp object.",
                "parameters": [
                    {
                        "name": "PickedUpPowerUp",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/PickedUpPowerUp"
                        }
                    },
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The created PickedUpPowerUp object.",
                        "schema": {
                            "$ref": "#/definitions/CreatedPickedUpPowerUp"
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity, missing parameter, invalid parameter.",
                        "schema": {
                            "properties": {
                                "parameter_name": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Unable to find character or power up by id.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/powerups/{id}": {
            "get": {
                "tags": [
                    "Power Ups"
                ],
                "summary": "list powerup by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A powerup object",
                        "schema": {
                            "$ref": "#/definitions/PowerUp"
                        }
                    },
                    "404": {
                        "description": "no powerup w/ id found in table, or an error."
                    }
                }
            }
        },
        "/user": {
            "get": {
                "tags": [
                    "User"
                ],
                "summary": "Returns authenticated user",
                "parameters": [
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A user object",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/User"
                            }
                        }
                    },
                    "401": {
                        "description": "not authenticated."
                    }
                }
            },
            "put": {
                "tags": [
                    "User"
                ],
                "summary": "Updates the current auth'd user. All parameters are optional. Pass only what's needed to be updated.",
                "parameters": [
                    {
                        "name": "user",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/UpdateUser"
                        }
                    },
                    {
                        "name": "token",
                        "in": "header",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The updated user object.",
                        "schema": {
                            "$ref": "#/definitions/User"
                        }
                    },
                    "401": {
                        "description": "unauthorized, invalid token, missing token, expired token.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Entity, missing parameter, invalid parameter.",
                        "schema": {
                            "properties": {
                                "parameter_name": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict with display name or email.",
                        "schema": {
                            "properties": {
                                "message": {
                                    "type": "string",
                                    "default": "error message"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/weapons": {
            "get": {
                "tags": [
                    "Weapons"
                ],
                "summary": "lists all weapons",
                "responses": {
                    "200": {
                        "description": "A list with weapons",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/Weapon"
                            }
                        }
                    },
                    "404": {
                        "description": "no weapons in table, or an error."
                    }
                }
            }
        },
        "/weapons/{id}": {
            "get": {
                "tags": [
                    "Weapons"
                ],
                "summary": "list weapon by id",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "UUID",
                        "required": true,
                        "type": "integer"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A weapon object",
                        "schema": {
                            "$ref": "#/definitions/Weapon"
                        }
                    },
                    "404": {
                        "description": "no weapon w/ id found in table, or an error."
                    }
                }
            }
        }
    },
    "definitions": {
        "PowerUp": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "Armor": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        },
                        "defense_value": {
                            "type": "integer"
                        },
                        "strong_type": {
                            "type": "string"
                        },
                        "weak_type": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "CharacterClass": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        },
                        "starting_health": {
                            "type": "integer"
                        },
                        "starting_attack_bonus": {
                            "type": "integer"
                        },
                        "starting_damage_bonus": {
                            "type": "integer"
                        },
                        "starting_defense_bonus": {
                            "type": "integer"
                        },
                        "starting_armor": {
                            "type": "integer"
                        },
                        "starting_weapon": {
                            "type": "integer"
                        },
                        "options": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "Weapon": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        },
                        "attack_type": {
                            "type": "integer"
                        },
                        "max_damage": {
                            "type": "integer"
                        },
                        "min_damage": {
                            "type": "integer"
                        },
                        "damage_type": {
                            "type": "integer"
                        },
                        "range": {
                            "type": "integer"
                        },
                        "hit_bonus": {
                            "type": "integer"
                        },
                        "attack_effect": {
                            "type": "string"
                        },
                        "properties": {
                            "type": "string"
                        },
                        "properties_short": {
                            "type": "string"
                        },
                        "sprite_id": {
                            "type": "integer"
                        }
                    }
                }
            ]
        },
        "LoginResponse": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "token": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "User": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "email": {
                            "type": "string"
                        },
                        "display_name": {
                            "type": "string"
                        },
                        "created_at": {
                            "type": "string"
                        },
                        "updated_at": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "CharacterHistory": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "user_id": {
                            "type": "integer"
                        },
                        "character_id": {
                            "type": "integer"
                        },
                        "score": {
                            "type": "integer"
                        },
                        "level_id": {
                            "type": "integer"
                        },
                        "created_at": {
                            "type": "string"
                        },
                        "updated_at": {
                            "type": "string"
                        },
                        "character": {
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "name": {
                                    "type": "string"
                                },
                                "attack_bonus": {
                                    "type": "integer"
                                },
                                "damage_bonus": {
                                    "type": "integer"
                                },
                                "defense_bonus": {
                                    "type": "integer"
                                },
                                "weapon_id": {
                                    "type": "integer"
                                },
                                "armor_id": {
                                    "type": "integer"
                                },
                                "class_id": {
                                    "type": "integer"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "updated_at": {
                                    "type": "string"
                                },
                                "killed_by": {
                                    "type": "integer"
                                },
                                "class": {
                                    "properties": {
                                        "id": {
                                            "type": "integer"
                                        },
                                        "name": {
                                            "type": "string"
                                        },
                                        "starting_health": {
                                            "type": "integer"
                                        },
                                        "starting_attack_bonus": {
                                            "type": "integer"
                                        },
                                        "starting_damage_bonus": {
                                            "type": "integer"
                                        },
                                        "starting_defense_bonus": {
                                            "type": "integer"
                                        },
                                        "starting_weapon": {
                                            "type": "integer"
                                        },
                                        "starting_armor": {
                                            "type": "integer"
                                        },
                                        "options": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        },
                        "level": {
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "user_id": {
                                    "type": "integer"
                                },
                                "seed": {
                                    "type": "string"
                                },
                                "number": {
                                    "type": "integer"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "updated_at": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            ]
        },
        "Level": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "user_id": {
                            "type": "string"
                        },
                        "seed": {
                            "type": "string"
                        },
                        "number": {
                            "type": "integer"
                        },
                        "created_at": {
                            "type": "string"
                        },
                        "updated_at": {
                            "type": "string"
                        },
                        "user": {
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "email": {
                                    "type": "string"
                                },
                                "display_name": {
                                    "type": "string"
                                },
                                "created_at": {
                                    "type": "string"
                                },
                                "updated_at": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            ]
        },
        "PostCharacter": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "name": {
                            "type": "string"
                        },
                        "health": {
                            "type": "integer"
                        },
                        "attack_bonus": {
                            "type": "integer"
                        },
                        "damage_bonus": {
                            "type": "integer"
                        },
                        "defense_bonus": {
                            "type": "integer"
                        },
                        "weapon_id": {
                            "type": "integer"
                        },
                        "armor_id": {
                            "type": "integer"
                        },
                        "class_id": {
                            "type": "integer"
                        }
                    }
                }
            ]
        },
        "Character": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        },
                        "health": {
                            "type": "integer"
                        },
                        "attack_bonus": {
                            "type": "integer"
                        },
                        "damage_bonus": {
                            "type": "integer"
                        },
                        "defense_bonus": {
                            "type": "integer"
                        },
                        "weapon_id": {
                            "type": "integer"
                        },
                        "armor_id": {
                            "type": "integer"
                        },
                        "class_id": {
                            "type": "integer"
                        },
                        "created_at": {
                            "type": "string"
                        },
                        "updated_at": {
                            "type": "string"
                        },
                        "killed_by": {
                            "type": "integer"
                        }
                    }
                }
            ]
        },
        "UpdateCharacter": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "health": {
                            "type": "integer"
                        },
                        "attack_bonus": {
                            "type": "integer"
                        },
                        "damage_bonus": {
                            "type": "integer"
                        },
                        "defense_bonus": {
                            "type": "integer"
                        },
                        "weapon_id": {
                            "type": "integer"
                        },
                        "armor_id": {
                            "type": "integer"
                        },
                        "killed_by": {
                            "type": "integer"
                        }
                    }
                }
            ]
        },
        "CreateLevel": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "seed": {
                            "type": "string"
                        },
                        "number": {
                            "type": "integer"
                        }
                    }
                }
            ]
        },
        "NewLevel": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "user_id": {
                            "type": "integer"
                        },
                        "seed": {
                            "type": "string"
                        },
                        "number": {
                            "type": "integer"
                        },
                        "created_at": {
                            "type": "string"
                        },
                        "updated_at": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "PostCharacterHistory": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "character_id": {
                            "type": "integer"
                        },
                        "level_id": {
                            "type": "integer"
                        },
                        "score": {
                            "type": "integer"
                        }
                    }
                }
            ]
        },
        "NewCharacterHistory": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "user_id": {
                            "type": "integer"
                        },
                        "character_id": {
                            "type": "integer"
                        },
                        "score": {
                            "type": "integer"
                        },
                        "level_id": {
                            "type": "integer"
                        },
                        "created_at": {
                            "type": "string"
                        },
                        "updated_at": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "PickedUpPowerUp": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "character_id": {
                            "type": "integer"
                        },
                        "power_up_id": {
                            "type": "integer"
                        }
                    }
                }
            ]
        },
        "CreatedPickedUpPowerUp": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id": {
                            "type": "integer"
                        },
                        "character_id": {
                            "type": "integer"
                        },
                        "power_up_id": {
                            "type": "integer"
                        },
                        "created_at": {
                            "type": "string"
                        },
                        "updated_at": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "AddFriend": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "display_name": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "Message": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "sender_id": {
                            "type": "integer"
                        },
                        "recipient_id": {
                            "type": "integer"
                        },
                        "content": {
                            "type": "string"
                        },
                        "created_at": {
                            "type": "string"
                        },
                        "updated_at": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "NewMessage": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "display_name": {
                            "type": "string"
                        },
                        "content": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "Friend": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "id1": {
                            "type": "integer"
                        },
                        "id2": {
                            "type": "integer"
                        },
                        "user1": {
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "name": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "user2": {
                            "properties": {
                                "id": {
                                    "type": "integer"
                                },
                                "name": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                }
            ]
        },
        "UpdateCharacterHistory": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "score": {
                            "type": "integer"
                        },
                        "level_id": {
                            "type": "integer"
                        }
                    }
                }
            ]
        },
        "UpdateUser": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "email": {
                            "type": "string"
                        },
                        "display_name": {
                            "type": "string"
                        },
                        "password": {
                            "type": "string"
                        },
                        "password_confirmation": {
                            "type": "string"
                        }
                    }
                }
            ]
        },
        "classItems": {
            "type": "object",
            "allOf": [
                {
                    "properties": {
                        "character_class_id": {
                            "type": "integer"
                        },
                        "item_id": {
                            "type": "integer"
                        }
                    }
                }
            ]
        }
    }
}